{% extends 'main/cart.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    {% block content %}
    <p> PARA TAG HERE !</p>
    <p>{{ls.name}}</p>
    <form method="post" action="#">
        {% csrf_token %}
    {% for lst in ls.item_set.all %}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <div class="input-group-text">
    {% if lst.complete == True %}
    {{lst.text}} <input type="checkbox" value="clicked" name="c{{lst.id}}" checked>
    {% else %}
{{lst.text}} <input type="checkbox" value="clicked" name="c{{lst.id}}">
    {% endif %}
</div>
    </div> 
    <input type="text" value="{{ls.text}}" class="form-control">
</div>
    {% endfor %}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
    <button type="submit" value="newitem" name="newitem" class="btn btn-success">NewItem</button> <br>
        </div>
    <input type="text" name="item"> <br>
    </div>
    <button type="submit" value="save" name="save" class="btn btn-success">Save</button> <br>
</form>
    {% endblock %}
</body>
</html>