<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% include 'navbar.html' %} 
    {% block content %} <br>
    <style>
        .home-containers{
            display: grid;
            grid-template-columns: 1fr 4fr;
        }
    </style>

    <div class="home-containers">
        <div>
            <h3>Browse Topics</h3>
            <hr>

            <a href="{% url 'home' %}"> All </a> <br>
            {% for tp in top %}  <br>
            <a href="{% url 'home'%}?q={{tp}}">{{tp}}</a> <br>
            {% endfor %}
        </div>
        <div>
            {% if not request.user.is_authenticated %}
            <a href="{% url 'signUp' %}"> SignUp </a> <br>
            {% endif %}
            {% if request.user.is_authenticated %}
    <a href="{% url 'logoutUser' %}"> Logout</a> <br>
    {% else %}
    <a href="{% url 'login' %}"> Login</a> <br>
    {% endif %}
    <a href="{% url 'createRoom' %}"> Create Room</a> <br>

    <a href="{% url 'test' %}">TEST !</a> <br>
    <a href="{% url 'topic_new' %}">Create new topic</a> <br>

    HELLO <br>
    <div>
        <h5>{{available_rooms}} available rooms</h5>
    {% for rm in rooms %}
    <div> <br>
        <hr>
    <span>@{{rm.host}}</span> <br>
        <h1>{{ rm.id }} -- <a href="{% url 'index' rm.id %}">{{rm.name}}</a> -- {{rm.description}} </h1> <br>
        <h2>{{rm.updated}} -- {{rm.created}}</h2>
        <h3>{{rm.topic}}</h3>
        {% if request.user == rm.host %}
        <a href="{% url 'update' rm.id %}">Edit</a> <br>
        <a href="{% url 'delete' rm.id %}"> Delete </a>
        {% endif %}
        <a href="{% url 'tnc' %}"> Join </a>
    </div>
    {% endfor %}
    {{ my_date|date:"Y-m-d" }}

</div>
</div>
        </div>
    </div>
    {% endblock %}
</body>
</html>